*,
body {
  font-family: "Notosans2";
}
a {
  text-decoration: none;
}

h2 {
  line-height: 1.4em;
  font-size: 2.3em;
}
span {
  display: block;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 -20px 10px black;
  z-index: 5;
}

header .wrap {
  width: 100%;
  background-color: black;
  height: 120px;
}

header .wrap .header-top {
  width: 280px;
  height: 40px;
  display: flex;
  justify-content: space-around;
  background-color: black;
  align-items: center;
  font-size: 87.5%;
  text-align: center;
  position: fixed;
  right: 0;
}

header .wrap .header-top img {
  background-color: #fff;
}

.icon {
  padding-right: 40px;
  border-right: 1px solid white;
}

header .wrap .header-top a {
  color: #fff;
  text-decoration: none;
  margin-right: 30px;
}

header .wrap .header-bottom {
  position: relative;
  top: 40px;
  width: 100%;
  height: 80px;
  background-color: #fff;
  /* border: 1px solid black; */
  display: flex;
}

header .wrap .header-bottom .logo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  width: 15%;
  margin: 0 40px;
}

header .wrap .header-bottom .logo img {
  width: 160px;
  height: 27px;
}

nav {
  width: 70%;
}

nav ul {
  font-size: 0;
  box-sizing: border-box;
  width: 80%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}

nav ul li {
  margin: 2px;
}
nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

header .wrap .header-bottom .button {
  width: 15%;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin-right: 5px;
}

header .wrap .header-bottom .button a {
  display: block;
  background-color: rgb(29, 29, 255);
  border-radius: 20px;
  text-decoration: none;
  color: #fff;
  padding: 13px 20px;
  font-size: 14px;
  text-align: center;
}

/* Section_EmailAddressArea */

.EmailAdressArea {
  width: 100%;
  height: 700px;
  background-color: aquamarine;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin-top: 120px;
}

/* EmailAddressArea_Text */

.EmailAdressArea .background {
  width: 90%;
  display: flex;
  margin: 0 auto;
}

.EmailAdressArea .background .text {
  width: 50%;
  padding-right: 50px;
}

.EmailAdressArea .background .text h2 {
  font-size: 250%;
  line-height: 60px;
  font-weight: 700;
}

.EmailAdressArea .background .text h2 span {
  color: goldenrod;
}

.EmailAdressArea .background .text p {
  padding-right: 30px;
  font-weight: bold;
  font-size: 106.25%;
  letter-spacing: 1px;
  line-height: calc(6px + 2ex + 6px);
  margin-top: 35px;
  margin-bottom: 60px;
}

/* EmailAddressArea_Pic */

.EmailAdressArea .background .pic1 {
  width: 50%;
}
.EmailAdressArea .background .pic1 img {
  width: 481px;
  height: 350px;
}

.emailSubmit {
  display: flex;
  align-items: flex-end;
}

.emailSubmit input {
  width: 300px;
  height: 50px;
}

.emailSubmit .button {
  width: 150px;
  height: 50px;
  margin-left: 20px;
}

.emailSubmit .button a {
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgb(29, 29, 255);
  border-radius: 30px;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 50px;
}

/* Section_InformationTitle */

.informationTitle {
  width: 100%;
  height: 350px;
  text-align: center;
}

.information {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.informationTitle p {
  font-size: 18px;
  line-height: 2em;
  color: #324255;
}

.informationTitle span {
  display: block;
}

/* Section_SameInformationTagInContent */
.container {
  width: 90%;
  height: 500px;
  display: flex;
  margin: 0 auto;
  align-items: center;
}

.textArea {
  width: 50%;
}

.imgArea {
  width: 50%;
}

.imgArea img {
  padding: 20px;
  width: 80%;
}

.iconWave {
  width: 63px;
  height: 16px;
  border-top: 8px solid black;
  margin-bottom: 5px;
}

/* Section_InformationContent */

.informationContent {
  width: 100%;
  height: 500px;
  background-color: blanchedalmond;
}

.informationContent .textArea {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
}

.informationContent .textArea p {
  padding-right: 30px;
  line-height: 2em;
}

.informationContent .textArea ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  align-items: flex-start;
  height: 100px;
  width: 480px;
  margin-left: -1.5em;
}
.informationContent .textArea ul li {
  margin-bottom: 15px;
}

.informationContent .textArea .secret a {
  text-decoration: none;
  color: rgb(43, 43, 243);
}

.secondPart {
  background-color: rgb(231, 164, 231);
}

.rowReverse {
  flex-direction: row-reverse;
}

.thirdPart {
  background-color: rgb(141, 238, 165);
}
.fourthPart {
  background-color: rgb(165, 186, 248);
}

/* moreService */

.moreService {
  width: 100%;
  height: 900px;
  background-color: rgb(209, 209, 209);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}

.moreService .wrap {
  width: 90%;
  height: 90%;
  text-align: center;
}

.moreService .surviceItems {
  width: 100%;
  height: 650px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.moreService .surviceItems .item {
  width: 33.3333%;
  height: 45%;
}
.moreService .surviceItems .item h3 {
  margin: 0;
  padding: 5px;
  font-size: 20px;
}
.moreService .surviceItems .item p {
  text-align: left;
  padding: 0 25px;
  line-height: 1.8em;
}

.moreService .surviceItems .item img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 0px 12px black;
  margin-bottom: 30px;
  object-fit: cover;
}

/* popularBrand */

.popularBrand {
  width: 100%;
  height: 650px;
  background-color: rgb(163, 248, 174);
}

.popularBrand .wrap {
  width: 90%;
  height: 90%;
  margin: 0 auto;
}
.popularBrand .wrap h2 {
  margin-top: 0;
  text-align: center;
  padding-top: 50px;
  font-size: 2em;
}

.popularBrand span {
  display: inline;
  color: rgb(75, 75, 255);
}

.popularBrand .wrap .brandNavbar {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
}

.popularBrand .wrap .brandNavbar .brand {
  width: 20%;
  height: 154px;
  border-bottom: 1px solid rgb(163, 156, 156);
}

.popularBrand .wrap .brandNavbar .brand img {
  width: 100%;
}

.popularBrand .wrap .brandNavbar .brand img:hover {
  border-bottom: 4px solid rgb(99, 161, 241);
}

.popularBrand .wrap .brandInformation {
  width: 100%;
  height: 70%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin-top: -50px;
}

.popularBrand .wrap .brandInformation .textArea {
  width: 40%;
}

.popularBrand .wrap .brandInformation .textArea p {
  margin-top: 50px;
  line-height: 2em;
}

.popularBrand .wrap .brandInformation .textArea span {
  display: block;
  margin-top: 5em;
}

.popularBrand .wrap .brandInformation .imgArea {
  width: 60%;
  overflow: hidden;
}

.popularBrand .wrap .brandInformation .imgArea img {
  padding: 30px;
  width: 100%;
}

.demoInformation {
  width: 100%;
  height: 400px;
  background-color: rgb(248, 183, 183);
}

.demoInformation .wrap {
  width: 100%;
  height: 400px;
  background-color: rgb(80, 83, 248);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 40px;
}

.demoInformation .wrap h2 {
  font-size: 42px;
  color: #fff;
}

.demoInformation .wrap h2 .numBackground {
  position: relative;
  opacity: 0.9;
}

.demoInformation .wrap h2 .numBackground::before {
  content: "";
  width: 130px;
  border: 10px solid rgba(151, 151, 224, 0.9);
  left: -5px;
  top: 40%;
  position: absolute;
  z-index: -1;
}

.demoInformation .wrap a {
  display: inline-block;
  width: 25%;
  height: 45px;
  background-color: cornflowerblue;
  text-align: center;
  color: white;
  line-height: 45px;
  border-radius: 20px;
}

footer {
  width: 100%;
  height: 800px;
  background-color: rgb(239, 243, 189);
}

footer .footerLink {
  width: 90%;
  height: 700px;
  /* background-color: rgb(239, 243, 189); */
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

footer .footerLink .wrap {
  width: 100%;
  height: 596px;
  border-top: 2px solid rgb(250, 149, 149);
  border-bottom: 2px solid rgb(250, 149, 149);
}
footer .footerLink .wrap .linkList {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

footer h4 {
  font-size: 18px;
  color: rgb(255, 176, 176);
  font-weight: 400;
}
footer ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 50px;
}

footer ul li {
  line-height: 2em;
}

footer ul li a:hover {
  color: rgb(248, 90, 90);
}

footer .COVID19Solution {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-content: center;
}

footer .COVID19Solution a {
  display: inline-block;
  width: 200px;
  height: 40px;
  background-color: #fff;
  text-align: center;
  line-height: 40px;
  color: black;
}

footer .footerAbout {
  width: 100%;
  height: 90px;
}

footer .wrapdown {
  width: 90%;
  height: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

footer .wrapdown .footerInformation {
  width: 33.33333%;
}

footer .wrapdown .footerInformation a {
  padding: 0 5px;
}

.middle {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

footer .wrapdown .iconLink {
  display: flex;
  width: 33.33333%;
  justify-content: space-between;
}

footer .wrapdown p {
  width: 33.33333%;
  text-align: right;
  font-size: 16px;
  line-height: 1.5em;
}
