* {
  padding: 0;
  margin: 0;
}


/* flex */

/* 主軸 vs 交叉軸 */

/* .wrap {
  
  width: 960px;
  height: 500px;
  background-color: gray;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}
.item {
  width: 652px;
  height: 400px;
  background-color: brown;
  color: blanchedalmond;
  margin: 4px;
}
.i1{
  width: 200px;
  height: 400px;
  flex-shrink: 0;
}

.i2{
  background-color: blue;
} */

/* -------------------- */

/* box-sizing example */
/* .box {
  width: 200px;
  font-size: 20px;
  background-color: aqua;
  margin: 20px;
  padding: 20px;
  border: 20px solid blue;
  box-sizing: border-box;
}  */

/* ------------------------------------------------- */

/* box-sizeing練習 */
.wrap {
  margin: 0 auto;
  display: flex;
  width: 500px;
  height: 500px;
  background-color: aquamarine;
  /* flex-wrap: wrap; */
  align-items:flex-start;

}

.item {
  width: 100px;
  height: 100px;
  margin: 15px;
  border: 3px solid black;
  background-color: brown;
  text-align: center;
}

.i2{
  height: 200px;
  align-self: flex-end;
}

.i3{
  height: 150px;
  
}
/* --------------------------------------------------- */

/* 偽元素 */

/* 
p {
  background-color: aquamarine;
  font-size: 50px;
  text-align: center;
}

p::after {
  content: "";
  display: block;
  width: 1em;
  height: 2px;
  background: red;
  margin: auto;
}
