* {
  margin: 0;
  padding: 0;
}

.wrap {
  margin: 0 auto;
  position: relative;
  width: 960px;
  height: 812px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.bgImg {
  width: 695px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
}
.imgLink {
  display: inline-block;
  z-index: 1;
}
.imgLink img {
  width: 695px;
  height: 430px;
}

.titleWrap {
  position: relative;
  right: 430px;
  z-index: 2;
}

.mainTitle {
  display: inline-block;
  color: white;
  width: 300px;
  position: absolute;
}

.mainTitle .title {
  background-color: red;
  font-size: 30px;
  text-align: center;
}
.mainTitle .content {
  background-color: black;

  padding: 15px;
}

.mainTitle p {
  margin-top: 5px;
  font-size: 14px;
  line-height: 2em;
}

.updateInfoWrap {
  position: relative;
  z-index: 2;
}

.updateIfo {
  padding: 10px;
  background-color: rgb(202, 198, 198);
  display: inline-block;
}
.updateIfo .title {
  color: red;
  font-weight: 800;
}
.updateIfo .contentText .text h4 {
  background-color: black;
  color: white;
  display: inline-block;
  padding: 2px;
  font-weight: 300;
}

.updateIfo .contentText .text p {
  font-size: 14px;
}
